@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
    background: rgb(185,60,210);
background: linear-gradient(43deg, rgba(185,60,210,1) 0%, rgba(154,73,255,1) 100%);
}

.slider{
        appearance:none;
        border-radius: 25px;
        background-color: white;
        
}

.slider::-webkit-slider-thumb{
    background:chartreuse;
}

.checkbox{
 appearance: none;
 border: 2px solid black;
 border-radius: 50%;
 height: 15px;
 width: 15px;
 background: #fff;
}

.checkbox:checked{
    background-color: rgb(26, 234, 26);
    border-radius: 2px 17px rgb(26, 234, 26);
    
}
